---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import type { CollectionEntry } from 'astro:content';

type Props = {
  work: CollectionEntry<'cv'>['data']['work']
}

const { work } = Astro.props

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul class="flex flex-col gap-8">
  {
    work.map(
      ({ name, startDate, endDate, position, summary, url }) => {
        const startYear = new Date(startDate).getFullYear()
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : t('common.present')
        const years = `${startYear} - ${endYear}`

        return (
          <li>
            <article class="print:break-inside-avoid">
              <header class="flex justify-between items-start mb-1">
                <div>
                  <h3>
                    <a class="hover:underline text-lg text-primary-900 font-medium" href={url} title={t('common.seeLink', { link: name })} target="_blank">
                      {name}
                    </a>
                  </h3>
                  <h4 class="text-primary-800">{position}</h4>
                </div>

                <time class="text-right min-w-28 text-sm text-primary-500">{years}</time>
              </header>

              <footer class="text-sm space-y-2 text-primary-400 text-pretty [&_a]:underline hover:[&_a]:text-primary-800 [&_a]:text-primary-600" set:html={summary} />
            </article>
          </li>
        )
      }
    )
  }
</ul>
