---
import Layout from "@/layouts/Layout.astro"

import About from "@/components/sections/About.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"

import type { GetStaticPaths } from "astro"
import { getCollection } from "astro:content"
import Section from "@/components/Section.astro"
import { useTranslations } from "@/i18n/utils"
import { i18n } from "@/i18n/config"
import { showDefaultLang } from "@/i18n/ui"

export const getStaticPaths = (async () => {
  const pages = await getCollection('cv');

  const paths = pages.map(page => {
    const [lang] = page.id.split('/');
    const realPath = i18n.defaultLocale === lang && !showDefaultLang ? undefined : page.id.includes('index') ? lang : page.id;
    return { params: { lang: realPath }, props: page.data };
  });

  return paths;
}) satisfies GetStaticPaths;

const { basics, education, work, projects, skills } = Astro.props;
const { name, label, summary} = basics;
const t = useTranslations((Astro.currentLocale ?? i18n.defaultLocale) as typeof i18n.defaultLocale);
---

<Layout title={t('title', { name, label})} description={summary}>
  <Section><Hero basics={basics} /></Section>
  <Section title={t('sections.about')}><About summary={summary} /></Section>
  <Section title={t('sections.experience')}><Experience work={work} /></Section>
  <Section title={t('sections.education')}><Education education={education} /></Section>
  <Section title={t('sections.projects')}><Projects projects={projects} /></Section>
  <Section title={t('sections.skills')}><Skills skills={skills} /></Section>
</Layout>
