---
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";
import { i18n } from "@/i18n/config";
import { removeTrailingSlash } from "@/utils";

import '@/css/global.css';

type Props = {
  title: string
  description: string
  ogImage: string
  websiteUrl: string
}

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const alternate = i18n.locales.map((l) => {
  const pathname = Astro.url.pathname.replace(`/${lang}`, '');

  return {
    href: new URL(translatePath(pathname, l), Astro.site),
    hreflang: l
  }
});
const restLangs = i18n.locales.filter((l) => l !== lang);
const canonicalUrl = removeTrailingSlash(new URL(Astro.url.pathname, Astro.site).toString());
const { title, description, ogImage, websiteUrl } = Astro.props;
---

<!doctype html>
<html lang={lang} class="bg-white tracking-tight">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" as="image" href={ogImage} />
    <link rel="canonical" href={canonicalUrl} />

    <meta property="og:url" content={websiteUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="" />
    <meta property="og:locale" content={lang} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={websiteUrl.split("//")[1] ?? ''} />
    <meta property="twitter:url" content={websiteUrl} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="" />

    {
      alternate.map((l) => <link rel="alternate" href={l.href} hreflang={l.hreflang} />)
    }
    {
      restLangs.map((lang) => <meta property="og:locale:alternate" content={lang} />)
    }
  </head>
  <body>
    <main class="p-8 md:p-16 w-full">
      <slot />
    </main>
  </body>
</html>
